{% extends 'main.html' %}

{% load static %}


{% block content %}

<div class="sg-page-content">

    <section class="sg-global-content">
        <div class="container">
            <div class="row">

                {% include 'includes/profile_sidebar.html' %}

                <div class="col-lg-9">
                    <div class="row">
                      <div class="col-md-6">
                				<div class="card" style="text-align:center;">
                					<div class="card-body">
                						<h5 class="card-title">Total Orders</h5>
                						<h4>{{orders_count}}</h4>
                						<a href="{% url 'accounts:my_orders' %}">View Orders</a>
                					</div>
                				</div>
                			</div>
                      
                			<div class="col-md-6">
                				<div class="card" style="text-align:center;">
                					<div class="card-body">
                						<img src="{% static 'images/logo/img_avatar.png' %}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
                						<p class="mb-0">{{user.email}}</p>
                						<p>{{user.phone_number}}</p>
                					</div>
                				</div>
                			</div>

                    </div><!-- /.row -->

                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.profile-section -->

</div><!-- /.sg-page-content -->

{% endblock %}
