<div class="col-lg-3">
    <div class="sidebar-menu">
        <ul class="global-list">
            <li class="active"><a href="{% url "accounts:profile" %}"><span><i class="fa-regular fa-user"></i></span> My Profile</a></li>
            <!-- <li><a href="{% url "accounts:edit_profile" %}"><span><i class="fa-regular fa-pen-to-square"></i></span> Edit Profile</a></li> -->
            <li><a href="{% url "accounts:favorite_list" %}"><span><i class="fa-regular fa-heart"></i></span> Wishlist</a></li>
            <li><a href="{% url "accounts:my_orders" %}"><span><i class="fa-solid fa-cart-flatbed-suitcase"></i></span> Order History</a></li>
            <!-- <li><a href="change-password.html"><span><i class="fa-solid fa-lock"></i></span> Change Password</a></li> -->
            <li><a href="#"><span><i class="fa-solid fa-arrow-right-from-bracket"></i></span> Logout</a></li>
        </ul>
    </div>
</div>
