<br>
<section class="campaign-section p-0">
    <div class="container">
        <div class="title justify-content-between">
            <h1>Special offer</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="add-banner">
                    <img src="{{ baner.image_1.url }}" alt="Image" class="img-fluid">
                    <!-- <div class="text">
                        <h2>{{baner.h_1}}</h2>
                        <h3><span>80%</span> Discount</h3>
                        <p>Stock ending soon</p>
                    </div> -->
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="add-banner">
                    <img src="{{ baner.image_2.url }}" alt="Image" class="img-fluid">
                    <!-- <div class="text text-end">
                        <h2>Cyber Monday</h2>
                        <h3>50% <span>Discount</span></h3>
                        <p>Ending 01 December</p>
                    </div> -->
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.campaign-section -->
